{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenCNPJ API",
    "version": "1.0.0",
    "description": "API pública para consulta de CNPJ numérico ou alfanumérico e metadados dos datasets publicados."
  },
  "servers": [
    {
      "url": "https://api.opencnpj.org",
      "description": "Produção"
    }
  ],
  "tags": [
    {
      "name": "Consulta",
      "description": "Consulta pontual por CNPJ."
    },
    {
      "name": "Metadados",
      "description": "Informações sobre publicação, schema e datasets."
    }
  ],
  "paths": {
    "/{cnpj}": {
      "get": {
        "tags": ["Consulta"],
        "summary": "Consultar CNPJ",
        "description": "Retorna os dados publicados para um CNPJ. O CNPJ deve ser tratado como string: 12 caracteres alfanuméricos seguidos de 2 dígitos verificadores.",
        "operationId": "getCnpj",
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "description": "CNPJ sem máscara. Também aceita máscara no path, inclusive para CNPJ alfanumérico.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z0-9]{12}\\d{2}$",
              "examples": ["12ABC34501DE35", "60701190000104"],
              "default": "12ABC34501DE35"
            },
            "examples": {
              "alfanumerico": {
                "summary": "CNPJ alfanumérico",
                "value": "12ABC34501DE35"
              },
              "numerico": {
                "summary": "CNPJ numérico",
                "value": "60701190000104"
              }
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "description": "Dataset único desejado. Aceita receita, cno ou rntrc. Se omitido, o retorno padrão é Receita Federal.",
            "schema": {
              "type": "string",
              "enum": ["receita", "cno", "rntrc"],
              "default": "receita"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -s 'https://api.opencnpj.org/12ABC34501DE35?dataset=receita'"
          },
          {
            "lang": "JavaScript",
            "label": "fetch",
            "source": "const response = await fetch('https://api.opencnpj.org/12ABC34501DE35?dataset=receita', {\n  headers: { Accept: 'application/json' },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "Python",
            "label": "requests",
            "source": "import requests\n\nresponse = requests.get('https://api.opencnpj.org/12ABC34501DE35?dataset=receita', headers={'Accept': 'application/json'})\nresponse.raise_for_status()\nprint(response.json())"
          },
          {
            "lang": "C#",
            "label": "HttpClient",
            "source": "using var http = new HttpClient();\nusing var request = new HttpRequestMessage(HttpMethod.Get, \"https://api.opencnpj.org/12ABC34501DE35?dataset=receita\");\nrequest.Headers.Accept.ParseAdd(\"application/json\");\n\nusing var response = await http.SendAsync(request);\nresponse.EnsureSuccessStatusCode();\n\nvar json = await response.Content.ReadAsStringAsync();\nConsole.WriteLine(json);"
          }
        ],
        "responses": {
          "200": {
            "description": "CNPJ encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CnpjResponse"
                },
                "examples": {
                  "simples": {
                    "summary": "Resposta simples",
                    "value": {
                      "cnpj": "12ABC34501DE35",
                      "razao_social": "EMPRESA EXEMPLO LTDA",
                      "nome_fantasia": "EMPRESA EXEMPLO",
                      "situacao_cadastral": "ATIVA",
                      "data_inicio_atividade": "2026-01-15",
                      "cnae_principal": "6201501",
                      "uf": "SP",
                      "municipio": "SAO PAULO",
                      "porte_empresa": "DEMAIS"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "CNPJ ou filtro de dataset inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidCnpj": {
                    "summary": "CNPJ inválido",
                    "value": {
                      "error": "invalid cnpj"
                    }
                  },
                  "multipleDatasets": {
                    "summary": "Mais de um dataset",
                    "value": {
                      "error": "only one dataset can be requested"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "CNPJ não encontrado no release publicado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "notFound": {
                    "summary": "Não encontrado",
                    "value": {
                      "error": "not found"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Falha temporária ao carregar metadados ou shard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidShard": {
                    "summary": "Falha de leitura",
                    "value": {
                      "error": "invalid shard payload"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/info": {
      "get": {
        "tags": ["Metadados"],
        "summary": "Consultar publicação atual",
        "operationId": "getInfo",
        "responses": {
          "200": {
            "description": "Metadados do release publicado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResponse"
                },
                "examples": {
                  "info": {
                    "summary": "Metadados publicados",
                    "value": {
                      "total": 70852335,
                      "last_updated": "2026-04-14T19:56:00Z",
                      "datasets": {
                        "receita": {
                          "updated_at": "2026-04-14T19:56:00Z",
                          "record_count": 70852335,
                          "zip_url": "https://file.opencnpj.org/releases/receita/data.zip",
                          "zip_size": 8270000000,
                          "zip_md5checksum": "e1a887293df69ace71eb8bf53e79a091"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Falha ao carregar metadados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "infoLoadFailed": {
                    "value": {
                      "error": "info load failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/schema": {
      "get": {
        "tags": ["Metadados"],
        "summary": "Consultar JSON Schema",
        "operationId": "getSchema",
        "responses": {
          "200": {
            "description": "JSON Schema 2020-12 do payload de CNPJ.",
            "content": {
              "application/schema+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CnpjResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "cnpj": {
            "type": "string",
            "pattern": "^[A-Z0-9]{12}\\d{2}$",
            "examples": ["12ABC34501DE35"]
          },
          "razao_social": {
            "type": "string"
          },
          "nome_fantasia": {
            "type": "string"
          },
          "situacao_cadastral": {
            "type": "string"
          },
          "cno": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CnoPayload"
              },
              {
                "type": "null"
              }
            ]
          },
          "rntrc": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/RntrcPayload"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "CnoPayload": {
        "type": "object",
        "properties": {
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "obras": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "RntrcPayload": {
        "type": "object",
        "properties": {
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "numero_rntrc": {
            "type": "string"
          },
          "categoria": {
            "type": "string"
          },
          "situacao": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "InfoResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "last_updated": {
            "type": "string"
          },
          "datasets": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PublishedDataset"
            }
          }
        }
      },
      "PublishedDataset": {
        "type": "object",
        "properties": {
          "updated_at": {
            "type": "string"
          },
          "record_count": {
            "type": "integer"
          },
          "zip_url": {
            "type": "string",
            "format": "uri"
          },
          "zip_size": {
            "type": "integer"
          },
          "zip_md5checksum": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
